.div-pai-ead{
    background-color: white;
    display: flex;
    min-width: 48vw;
    min-height: 30vh;
    margin:10px;

    box-shadow:  5px 5px 5px 5px #aaaaaa;
    max-width: 48vw;
    max-height: 30vh;
    align-self: center;
}

.buttons{
    background-color: white;
    display: flex;
    min-width: 48vw;
    min-height: 10vh;
    margin:10px;
    box-shadow:  5px 5px 5px 5px #aaaaaa;
    max-width: 48vw;
    max-height: 10vh;
    align-self: center;
}

.vr{
    position: inherit;
    border-left: 2px dotted #eaeaea
}

.buttonVoltar{
    margin-right:55%;
    margin-left:10px;
    margin-top:10px;
    margin-bottom: 10px;
    color:white;
    display: flex;
    flex-grow: 1;
    max-width: 150px;
    cursor: pointer;
    justify-content: space-around;
    background-color:#910000;
    box-shadow: 3px 3px 3px 3px #aaaaaa;
}

.buttonComparar{
    max-width: 150px;
    cursor: pointer;
    justify-content: space-around;
    margin:10px;
    flex-grow: 1;
    color:white;
    display: flex;
    background-color:#910000;
    box-shadow: 3px 3px 3px 3px #aaaaaa;
}


.div-img-nota{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 10vw;
    margin:20px;
}

.faculdade{
    display:flex;
    flex-grow: 1;
    max-height:18vh;
}

.Nota{
    align-content: center;
    justify-content: center;
    margin-top:10px;
    display:flex;
    flex-grow: 1;
}
.informacoes-ead{
    margin:20px;
    display: flex;
    flex-direction: column;
}
.tipo{
    margin: 0!important;
    color: #646464;
    font-family: Arial, Helvetica, sans-serif;
}
.nome{
    margin-top: 0!important;
    color: #910000;
    margin-bottom:2px!important;
    font-family: Arial, Helvetica, sans-serif;
}
.Duracao{
    display: flex;
    flex-grow:1;
}
.star-ratings{
    
    margin-bottom:15px !important;
}
.nota-mec-titulo{
    margin-top:0 !important;
    margin-left:3px !important;
    font-size:10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom:-1px !important;
    color:#e6de12;

    display: flex;
    flex-grow:1;
}

.check-box{
    margin-top:170px;
    right:0px;
}

.noUnderline{
    text-decoration:none;
}

.img{
    margin:1vw;
}

.img-mec{
    display: flex;
    flex-direction: column;
    margin:1vw;
}


.informacoes-especificas{
    margin-top:5vh;
    display: flex;
    flex-direction: row;
    flex-grow:10;
}

.informacoes-especificas-nome{
    display: flex;
    flex-grow:1;
    flex-direction: column;
}
.pai{
    min-width: 70vw;
    min-height: 100vh;
    margin-top: 100px;
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color:#eaeaea !important;
}

.title{
    color:#910000;
    align-self: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom:10px;
    
}