.Titulo{
    color:#F0F7EE;
    align-self: center;
    display: flex;
    flex-grow: 1;
    margin-left:10vw;
    font-family: Arial, Helvetica, sans-serif;
}

.login{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
    margin-right:8vw;

}

.txt-login{
    cursor:pointer;
    margin-right:2vw;
    color:#F0F7EE;
    font-family: Arial, Helvetica, sans-serif;
}