.Titulo{
    color:#F0F7EE;
    align-self: center;
    display: flex;
    flex-grow: 1;
    cursor: pointer;
    margin-left:4vw;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    height:130px;
    width:130px;
}

.login{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
    margin-right:8vw;

}


.svg{
    margin-right:5px;
    margin-top:5px;
}
.txt-login{
    cursor:pointer;
    margin-right:2vw;
    color:#F0F7EE;
    font-family: Arial, Helvetica, sans-serif;
}

.login-facebook{
    border: #787878;
    border-style: solid;
    border-width: 1px;
    margin:20px;
    margin-left:50px;
    margin-right:50px;
    align-content: center;
    background-color: #EAEAEA;
    box-shadow:  5px 5px 5px 5px #aaaaaa;
}

.txt-facebook{
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content:center;
}

.hr{
    margin-top:40px;
  border-top: 1px dotted #787878;
}
