.titulo-filtro{
    color: #910000;
    height:67px;
    display: flex;
    flex-grow:1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.body-filtro{
    border-radius: 2%;
    background-color: #d5d7db;
    display: flex;
    flex-direction: column;
    margin-top:18vh;
    margin-right: 50vw;
    margin-left:10vw;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.body-filtro-avancado{
    border-radius: 2%;
    background-color: #d5d7db;
    display: flex;
    flex-direction: column;
    margin-top:18vh;
    margin-right: 10vw;
    margin-left:10vw;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}