.notaMec{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-height:56px;


}

.labelNotaMec{
    margin-top:-2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color :#818285
}