.pai-div{
    display:flex;
    flex-direction: row;
    width: 100vw;
    height:90vh;
    margin-top:10vh;

    background-color:#eaeaea !important;
}

.hr{
    border: dotted 1px #910000;
    width:100%;
    margin:0!important;
}

.name{
    display: flex;
    align-self: center;
    justify-self: center;
    color:#910000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


.escrito{
    color:#646464;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}

.first-child{
    display:flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.buttons-compare{
    background-color: white;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow:  5px 5px 5px 5px #aaaaaa;
}

.filho-div{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width:20vw;
    margin-left:50px;
    margin-right:50px;
    height:100%;
    background-color:#D5D7DB;
}